<h1>About</h1>
<p>
  Tom's Pinterest is a project to teach myself
  <%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
  in one week. This is the learner application, a Pinterest clone.
</p>